html,body{
    margin:0;
    padding:0;
}

body{
    background-color: black;
    font-family: Helvetica; 
    
}
p{
    color: grey;
}
nav, header, section, footer{
    width:auto;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
nav{
    display:flex;
    flex-direction: row;
}

nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    gap:20px;
}

nav ul a{
    text-decoration: none;
    color:white;
}

footer{
    text-align: center;
    color:white;
    font-size:10pt;
}
img.full-width{
    width:  100%;
}

.btn-contact{
    background-color: transparent;
    opacity: 0.5;
    width:5%;
    height: 10%;
    position: absolute;
    top:80%;
    left:27%;
}

.btn-portfolio{
    background-color: transparent;
    opacity: 0.5;
    width: 23%;
    height: 60%;
    position: absolute;
    top:35%;
    left:52%;
}

.btn-cv{
    background-color: transparent;
    opacity: 0.5;
    width: 18%;
    height: 27%;
    position: absolute;
    top:17%;
    left:78%;
}